.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planetary-container {
  max-width: 900px;
  margin: auto;
  background-color: lightblue;
  border: 2px rgb(9, 8, 41) solid;
}

.planetary-card {
  height: 380px;
  width: 100%;
  background: rgb(13, 7, 66);
  display: flex;
  justify-content: space-around;
}

.planetary-img {
  width: 350px;
  height: 350px;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.planetary-info {
  width: 50%;
}

.planetary-info p {
  overflow-y: scroll;
  height: 200px;
}
